body {
  background: url(../img/5c6abb1aecd5058358e5631fa59c79b0.jpg) no-repeat center fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
  font-family: 'Gentium Basic', serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

.page1-first-entry{
    width: 50%;
    float: right;
}
.from4{
    float: right;
}

